# Preprocessing

In [1]:
import pandas as pd
import numpy as np

In [2]:
from functions import *

### Import the datasets

In [3]:
# Open the raw datasets
# Heavy Metal
hm_df = pd.read_excel('data/AllHMFiles.xlsx', engine='openpyxl').fillna(0.0)

# Pesticides
pesticides_df = pd.read_excel('data/AllPesticidesFiles.xlsx', engine='openpyxl').fillna(0.0)
classe_pesticides_df = pd.read_excel('data/pesticides.xlsx', engine='openpyxl')

# Surfaces
surfaces_df = pd.read_excel('data/absSurfs.xlsx', engine='openpyxl')

# Distances
distances_df = pd.read_excel('data/distsOneSheet.xlsx', engine='openpyxl')

In [4]:
hm_df.head(5)

,REF....SUBSTANCE,PERIOD,Lead,Cadmium,Arsenic,Mercury,Copper,Chromium,Zinc,Chrome
0,B0017,2017/P1,0.081,0.81,0.0,0.0,5.5,0.032,40,0.0
1,B0019,2017/P1,0.062,0.36,0.0,0.0,8.5,0.029,33,0.0
2,B0021,2017/P1,0.150,0.61,0.0,0.0,7.0,0.038,37,0.0
3,B0023,2017/P1,0.067,0.35,0.0,0.0,6.9,0.031,37,0.0
4,B0037,2017/P1,0.120,0.07,0.0,0.0,5.6,0.052,35,0.0

In [5]:
pesticides_df.head(5)

,REF....SUBSTANCE,PERIOD,Aldrin,Benalaxyl,Chlorpropham,Cyanofenphos,Cypermethrin,Ethofumesate,Fludioxonil,Fluopyram,...,Nicosulfuron,Piperonylbutoxide,Prosulfuron,Simazine,Terbuthylazine,Dieldrin,Fenamidone,Trifluralin,Cycloate,Pentachloroanisol
0,B0017,2017/P1,0.0,0.0000,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,B0019,2017/P1,0.0,0.0188,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,B0021,2017/P1,0.0,0.0711,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,B0023,2017/P1,0.0,0.0294,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,B0037,2017/P1,0.0,0.0000,0.01,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
classe_pesticides_df.head(5)

,importName,name,statusEN,LMR,familyEN,typeEN
0,Aclonifen,aclonifen,authorized,0.05,diphenyl ether,herbicide
1,Aldrin,aldrin,prohibited,0.01,organochlorine,insecticide
2,Ametoctradin,ametoctradin,authorized,0.05,triazolopyrimidine,fungicide
3,Anthraquinone,anthraquinone,prohibited,0.02,polycyclic aromatic hydrocarbon,bird repellant
4,Azoxystrobin,azoxystrobin,authorized,0.05,strobilurin,fungicide

In [7]:
surfaces_df.head(5)

,Site,111,112,121,122,123,124,131,132,133,...,411,412,421,422,423,511,512,521,522,523
0,F0069,0.0,1.064122e+06,3.587087e+05,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
1,F0025,0.0,0.000000e+00,0.000000e+00,412752.692383,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
2,F0027,0.0,2.741746e+05,0.000000e+00,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
3,B0128,0.0,2.470089e+06,4.053755e+06,497496.251770,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
4,F0023,0.0,0.000000e+00,2.559254e+05,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,284728.392578,0,0,0.0

In [8]:
distances_df.head(5)

    Site     polyID  classCLC         dist
0  F0069   FR-88090       231  1183.022362
1  F0069  FR-131773       242   289.926324
2  F0069   FR-46167       211   221.344153
3  F0069   FR-11047       112  1038.383069
4  F0069  FR-195343       311   724.045683

### Heavy Metal

In [9]:
hm_df.head()

,REF....SUBSTANCE,PERIOD,Lead,Cadmium,Arsenic,Mercury,Copper,Chromium,Zinc,Chrome
0,B0017,2017/P1,0.081,0.81,0.0,0.0,5.5,0.032,40,0.0
1,B0019,2017/P1,0.062,0.36,0.0,0.0,8.5,0.029,33,0.0
2,B0021,2017/P1,0.150,0.61,0.0,0.0,7.0,0.038,37,0.0
3,B0023,2017/P1,0.067,0.35,0.0,0.0,6.9,0.031,37,0.0
4,B0037,2017/P1,0.120,0.07,0.0,0.0,5.6,0.052,35,0.0

In [10]:
MRL_HM_dict = {
    'Lead' : [1.5],
    'Cadmium' : [1],
    'Arsenic' : [0.3],
    'Mercury' : [0],
    'Copper' : [30]
}

MRL_HM = pd.DataFrame.from_dict(MRL_HM_dict)
MRL_HM

   Lead  Cadmium  Arsenic  Mercury  Copper
0   1.5        1      0.3        0      30

In [11]:
hm_df['mrl_lead'] = np.where(hm_df['Lead'] > 1.5, 1, 0)
hm_df['mrl_cadmium'] = np.where(hm_df['Cadmium'] > 1, 1, 0)
hm_df['mrl_arsenic'] = np.where(hm_df['Arsenic'] > 0.3, 1, 0)
hm_df['mrl_copper'] = np.where(hm_df['Copper'] > 30, 1, 0)
hm_df['has_mercury'] = np.where(hm_df['Mercury'] > 0, 1, 0)

hm_df.head()

,REF....SUBSTANCE,PERIOD,Lead,Cadmium,Arsenic,Mercury,Copper,Chromium,Zinc,Chrome,mrl_lead,mrl_cadmium,mrl_arsenic,mrl_copper,has_mercury
0,B0017,2017/P1,0.081,0.81,0.0,0.0,5.5,0.032,40,0.0,0,0,0,0,0
1,B0019,2017/P1,0.062,0.36,0.0,0.0,8.5,0.029,33,0.0,0,0,0,0,0
2,B0021,2017/P1,0.150,0.61,0.0,0.0,7.0,0.038,37,0.0,0,0,0,0,0
3,B0023,2017/P1,0.067,0.35,0.0,0.0,6.9,0.031,37,0.0,0,0,0,0,0
4,B0037,2017/P1,0.120,0.07,0.0,0.0,5.6,0.052,35,0.0,0,0,0,0,0

In [12]:
# Dropping columns of metals without specific threshhold level defined by laws
hm_df = hm_df.drop(['Chromium'], axis=1)
hm_df = hm_df.drop(['Chrome'], axis=1)
hm_df = hm_df.drop(['Zinc'], axis=1)

# Dropping other columns not needed anymore
hm_df = hm_df.drop(['Lead'], axis=1)
hm_df = hm_df.drop(['Cadmium'], axis=1)
hm_df = hm_df.drop(['Arsenic'], axis=1)
hm_df = hm_df.drop(['Mercury'], axis=1)
hm_df = hm_df.drop(['Copper'], axis=1)

hm_df.head()

,REF....SUBSTANCE,PERIOD,mrl_lead,mrl_cadmium,mrl_arsenic,mrl_copper,has_mercury
0,B0017,2017/P1,0,0,0,0,0
1,B0019,2017/P1,0,0,0,0,0
2,B0021,2017/P1,0,0,0,0,0
3,B0023,2017/P1,0,0,0,0,0
4,B0037,2017/P1,0,0,0,0,0

##### Aleternate dataset (grooup by) for HM

In [13]:
group_hm_df = hm_df.groupby('REF....SUBSTANCE').agg(max).drop(columns=['PERIOD'])
group_hm_df.sample(10)

                  mrl_lead  mrl_cadmium  mrl_arsenic  mrl_copper  has_mercury
REF....SUBSTANCE
F0019                    0            0            0           0            1
F0033                    0            0            0           0            0
F0061                    0            0            0           0            0
F0017                    0            0            0           0            0
F0013                    0            0            1           0            0
B0039                    0            0            0           0            0
B0037                    0            0            0           0            0
B0045                    0            0            0           0            0
F0015                    0            0            0           0            1
F0007                    0            0            0           0            0

##### Alternate df, with categorical

In [14]:
cat_hm_df = group_hm_df.copy(deep=True)

In [15]:
cat_hm_df['cat'] = cat_hm_df.apply(lambda x: (str(x['mrl_lead']) + 
                                              str(x['mrl_cadmium']) + 
                                              str(x['mrl_arsenic']) + 
                                              str(x['mrl_copper'])) + 
                                              str(x['has_mercury']), axis=1)

In [16]:
cat_hm_df['cat'] = cat_hm_df['cat'].astype('category')
cat_hm_df['cat_label'] = cat_hm_df['cat'].cat.codes

labels = cat_hm_df.set_index('cat_label')['cat'].to_dict()
labels

{0: '00000',
 1: '00001',
 4: '01000',
 5: '10000',
 3: '00100',
 6: '10001',
 2: '00010'}

In [17]:
cat_hm_df = cat_hm_df.drop(columns=['mrl_lead', 
                                    'mrl_cadmium', 
                                    'mrl_arsenic', 
                                    'mrl_copper',
                                    'has_mercury',
                                    'cat'])

In [18]:
cat_hm_df.sample(5)

                  cat_label
REF....SUBSTANCE
F0007                     0
B0067                     4
B0032                     0
F0061                     0
F0027                     1

### Pesticides

Fungicide :

In [19]:
classe_pesticides_df[classe_pesticides_df['typeEN'] == 'fungicide'].head(5)

,importName,name,statusEN,LMR,familyEN,typeEN
2,Ametoctradin,ametoctradin,authorized,0.05,triazolopyrimidine,fungicide
4,Azoxystrobin,azoxystrobin,authorized,0.05,strobilurin,fungicide
5,Benalaxyl,benalaxyl,prohibited,0.05,phenylamides,fungicide
7,Benthiavalicarb.iso,benthiavalicarb-isopropyl,authorized,0.05,carbamate,fungicide
8,Benzovindiflupyr,benzovindiflupyr,authorized,0.05,amide,fungicide

In [20]:
fungicides = classe_pesticides_df[classe_pesticides_df['typeEN'] == 'fungicide'].importName.to_list()
fungicides.append('Diphenylamine')
fungicides.append('Tebuconazole')
fungicides

['Ametoctradin',
 'Azoxystrobin',
 'Benalaxyl',
 'Benthiavalicarb.iso',
 'Benzovindiflupyr',
 'Boscalid',
 'Bupirimate',
 'Captan',
 'Carbendazim',
 'Chlorothalonil',
 'Cyazofamid',
 'Cyflufenamid',
 'Cymoxanil',
 'Cyprodinil',
 'Difenoconazole',
 'Dimethomorph',
 'Dimoxystrobin',
 'Dodine',
 'Epoxiconazole',
 'Ethirimol',
 'Famoxadone',
 'Fenamidone',
 'Fenbuconazole',
 'Fenhexamid',
 'Fenpropidin',
 'Fenpropimorph',
 'Fluazinam',
 'Fludioxonil',
 'Fluopicolide',
 'Fluopyram',
 'Flutolanil',
 'Fluxapyroxad',
 'Hexaconazole',
 'Iprovalicarb',
 'Isofetamid',
 'Mandipropamid',
 'Metalaxyl',
 'Metconazole',
 'Metrafenone',
 'Penconazole',
 'Pencycuron',
 'Pentachloroanisol',
 'Prochloraz',
 'Propamocarb',
 'Propiconazole',
 'Prothioconazole_d',
 'Pyraclostrobin',
 'Pyrimethanil',
 'Quinoxyfen',
 'Spiroxamine',
 'Tetraconazole',
 'Thiabendazole',
 'Thiophanate.methyl',
 'Trifloxystrobin',
 'X2.phenylphenol',
 'Zoxamide',
 'Diphenylamine',
 'Tebuconazole']

Insecticide :

In [21]:
classe_pesticides_df[classe_pesticides_df['typeEN'] == 'insecticide'].head(5)

,importName,name,statusEN,LMR,familyEN,typeEN
1,Aldrin,aldrin,prohibited,0.01,organochlorine,insecticide
13,Chlorantraniliprole,chlorantraniliprole,authorized,0.05,anthranilic diamide,insecticide
17,Chlorpyrifos.methyl,chlorpyrifos-methyl,prohibited,0.05,organophosphate,insecticide
19,Coumaphos,coumaphos,prohibited,0.10,thiophosphate,insecticide
20,Cyanofenphos,cyanofenphos,not yet assessed,NaN,organophosphate,insecticide

In [22]:
insecticides = classe_pesticides_df[classe_pesticides_df['typeEN'] == 'insecticide'].importName.to_list()
insecticides.append('Diphenylamine')
insecticides.append('Methiocarb_total')
insecticides

['Aldrin',
 'Chlorantraniliprole',
 'Chlorpyrifos.methyl',
 'Coumaphos',
 'Cyanofenphos',
 'Cyflumetofen',
 'Cypermethrin',
 'Deet',
 'Dieldrin',
 'Etofenprox',
 'Fenoxycarb',
 'Fenpropathrin',
 'Flonicamid',
 'Flucythrinate',
 'Flupyradifurone',
 'Imidacloprid',
 'Indoxacarb',
 'Methoxyfenozide',
 'Phosmet',
 'Piperonylbutoxide',
 'Pirimicarb',
 'Spinosad',
 'Spirotetramat',
 'Tau.fluvalinate',
 'Tebufenozide',
 'Tetradifon',
 'Thiacloprid',
 'Diphenylamine',
 'Methiocarb_total']

Herbicide :

In [23]:
classe_pesticides_df[classe_pesticides_df['typeEN'] == 'herbicide'].head(5)

,importName,name,statusEN,LMR,familyEN,typeEN
0,Aclonifen,aclonifen,authorized,0.05,diphenyl ether,herbicide
6,Benfluralin,benfluralin,authorized,0.05,dinitroaniline,herbicide
15,Chlorotoluron,chlorotoluron,authorized,0.05,phenylurea,herbicide
16,Chlorpropham,chlorpropham,prohibited,0.05,carbamate,herbicide
18,Clethodim,clethodim,authorized,0.05,cyclohexanedione,herbicide

In [24]:
herbicides = classe_pesticides_df[classe_pesticides_df['typeEN'] == 'herbicide'].importName.to_list()
herbicides

['Aclonifen',
 'Benfluralin',
 'Chlorotoluron',
 'Chlorpropham',
 'Clethodim',
 'Cycloate',
 'Diflufenican',
 'Ethofumesate',
 'Fluazifop',
 'Flufenacet',
 'Metamitron',
 'Methabenzthiazuron',
 'Metobromuron',
 'Metolachlor',
 'Nicosulfuron',
 'Pendimethalin',
 'Phenmedipham',
 'Propanil',
 'Propyzamide',
 'Prosulfocarb',
 'Prosulfuron',
 'Simazine',
 'Terbuthylazine',
 'Tri.allate',
 'Trifluralin']

Others :

In [25]:
classe_pesticides_df[(classe_pesticides_df['typeEN'] != 'fungicide') & 
                     (classe_pesticides_df['typeEN'] != 'insecticide') & 
                     (classe_pesticides_df['typeEN'] != 'herbicide')]

,importName,name,statusEN,LMR,familyEN,typeEN
3,Anthraquinone,anthraquinone,prohibited,0.02,polycyclic aromatic hydrocarbon,bird repellant
34,Diphenylamine,diphenylamine,prohibited,0.05,amine,"growth regulator, fungicide and insecticide"
69,Methiocarb_total,methiocarb,prohibited,0.05,carbamate,"insecticide, molluscicide and bird repellent"
86,Propargite,propargite,prohibited,0.05,NaN,acaricide
100,Tebuconazole,tebuconazole,authorized,0.05,triazole,fungicide and growth regulator
112,X6.benzylaminopurine,benzyladenine,authorized,NaN,cytokinins,growth regulator
114,NaN,NaN,NaN,NaN,NaN,NaN

##### Choice to treat the others

Adding to the corresponding categories, stay in "other" ? What about the growth regulator ?

#### Add some columns

In [26]:
pesticides_df['qtt_fungicides'] = pesticides_df.apply(qtt_pesticides, args = fungicides, axis = 1)
pesticides_df['qtt_insecticides'] = pesticides_df.apply(qtt_pesticides, args = insecticides, axis = 1)
pesticides_df['qtt_herbicides'] = pesticides_df.apply(qtt_pesticides, args = herbicides, axis = 1)

In [27]:
pesticides_df['nb_fungicides'] = pesticides_df.apply(nb_pesticides, args = fungicides, axis = 1)
pesticides_df['nb_insecticides'] = pesticides_df.apply(nb_pesticides, args = insecticides, axis = 1)
pesticides_df['nb_herbicides'] = pesticides_df.apply(nb_pesticides, args = herbicides, axis = 1)

In [ ]:
pesticides_df['mrl_fungicides'] = pesticides_df.apply(lmr_pesticides, args = fungicides, axis = 1)
pesticides_df['mrl_insecticides'] = pesticides_df.apply(lmr_pesticides, args = insecticides, axis = 1)
pesticides_df['mrl_herbicides'] = pesticides_df.apply(lmr_pesticides, args = herbicides, axis = 1)

In [ ]:
pesticides_df.head(10)

In [ ]:
pesticides_df['year'] = pesticides_df['PERIOD'].apply(lambda x: x[:4])
pesticides_df['trimester'] = pesticides_df['PERIOD'].apply(lambda x: x[-1:])
pesticides_df.sample(10)

##### Alternate (smaller) dataset for pesticides

In [ ]:
pesti_names = pesticides_df.columns.to_list()[1:-11]

In [ ]:
small_pesticides_df = pesticides_df.drop(pesti_names, axis=1)
small_pesticides_df.head(5)

##### Alternate (group by) dataset for pesticides

In [ ]:
group_pesti_df = pesticides_df.groupby('REF....SUBSTANCE').agg(max)

In [ ]:
group_pesti_df = group_pesti_df.loc[:,'mrl_fungicides' : 'mrl_herbicides']
group_pesti_df.sample(10)

##### Alternate df, with categorical

In [ ]:
cat_pesti_df = group_pesti_df.copy(deep=True)

In [ ]:
cat_pesti_df['cat'] = cat_pesti_df.apply(lambda x: (str(x['mrl_fungicides']) + 
                                                    str(x['mrl_insecticides']) + 
                                                    str(x['mrl_herbicides']))  , axis=1)

In [ ]:
cat_pesti_df.sample(10)

In [ ]:
cat_pesti_df['cat'] = cat_pesti_df['cat'].astype('category')
cat_pesti_df['cat_label'] = cat_pesti_df['cat'].cat.codes

In [ ]:
labels = cat_pesti_df.set_index('cat_label')['cat'].to_dict()
labels

In [ ]:
cat_pesti_df = cat_pesti_df.drop(columns=['mrl_fungicides', 
                                          'mrl_insecticides', 
                                          'mrl_herbicides', 
                                          'cat'])

In [ ]:
cat_pesti_df.sample(10)

### Sites

##### Getting the area for each zone

In [ ]:
distances_df.head(5)

In [ ]:
surfaces_df.head(5)

In [ ]:
# surfaces_df['country'] = surfaces_df['Site'].apply(lambda x: 'FR' if x.startswith('F') else 'BE')
# surfaces_df['country'].value_counts()

In [ ]:
sites_df = distances_df.copy(deep=True)

In [ ]:
sites_df['surface'] = sites_df.apply(get_surface, axis = 1)

In [ ]:
sites_df.sample(10)

In [ ]:
sites_df['country'] = sites_df['polyID'].apply(lambda x: 'FR' if x.startswith('FR') else 'BE')
sites_df.sample(10)

In [ ]:
sites_df['country'].value_counts()

In [ ]:
sites_df = sites_df.drop(['polyID'], axis=1)
sites_df.sample(5)

##### Get one dataset with : beehives and area/distance for each zone

In [ ]:
surfaces_df

In [ ]:
classCLC = surfaces_df.columns.to_list()[1:]

In [ ]:
by_sites_df = surfaces_df.copy(deep=True)
by_sites_df

In [ ]:
for CLC in classCLC:
    by_sites_df[CLC] = by_sites_df.apply(distance_area, args = (CLC,), axis = 1)

In [ ]:
by_sites_df

check if correct

In [ ]:
distance = distances_df[(distances_df['Site'] == 'F0023') & 
                        (distances_df['classCLC'] == 512)]['dist'].values
distance

In [ ]:
area = surfaces_df[surfaces_df['Site'] == 'F0023']['512'].values[0]
area

In [ ]:
area/distance[0]

##### Drop some colomns that don't contain data

In [ ]:
by_sites_df = by_sites_df.drop(['132','212','213','222', '223', '241', '244',
              '321', '323', '332', '333', '334', '335', '411',
              '421', '422', '521', '522', '523'], axis=1)

### Merging the datasets into two

3 datasets to 2 : sites + (heavy metal || pesticides)

##### Heavy Metal

In [ ]:
hm_df.sample(5)

In [ ]:
group_hm_df.sample(5)

In [ ]:
cat_hm_df.sample(5)

##### Pesticides

full

In [ ]:
pesticides_df.sample(5)

In [ ]:
small_pesticides_df.sample(5)

In [ ]:
group_pesti_df.sample(5)

In [ ]:
cat_pesti_df.sample(5)

##### sites

In [ ]:
sites_df.sample(5)

In [ ]:
by_sites_df.sample(5)

##### Merge HM

In [ ]:
cat_hm_df.index.name

In [ ]:
cat_hm_df = cat_hm_df.reset_index()

In [ ]:
cat_hm_df = cat_hm_df.rename(columns={"REF....SUBSTANCE": "Site"})

In [ ]:
cat_hm_df.head(3)

In [ ]:
by_sites_df.head(3)

In [ ]:
merged_hm = pd.merge(by_sites_df, cat_hm_df, on=["Site"])

In [ ]:
merged_hm.sample(5)

In [ ]:
merged_hm.shape

#### Merge Pesticides

In [ ]:
cat_pesti_df.index.name

In [ ]:
cat_pesti_df = cat_pesti_df.reset_index()

In [ ]:
cat_pesti_df = cat_pesti_df.rename(columns={"REF....SUBSTANCE": "Site"})

In [ ]:
cat_pesti_df.head(3)

In [ ]:
by_sites_df.head(3)

In [ ]:
merged_pesti = pd.merge(by_sites_df, cat_pesti_df, on=["Site"])

In [ ]:
merged_pesti.sample(5)

In [ ]:
merged_pesti.shape

##### Merge All

In [ ]:
group_hm_df.index.name

In [ ]:
group_pesti_df.index.name

In [ ]:
group_hm_df = group_hm_df.reset_index()
group_pesti_df = group_pesti_df.reset_index()

In [ ]:
group_hm_df = group_hm_df.rename(columns={"REF....SUBSTANCE": "Site"})
group_pesti_df = group_pesti_df.rename(columns={"REF....SUBSTANCE": "Site"})

In [ ]:
by_sites_df.head(3)

In [ ]:
group_hm_df.head(3)

In [ ]:
group_pesti_df.head(3)

In [ ]:
cat_hm_df = cat_hm_df.rename(columns={"cat_label": "hm_cat_label"})
cat_hm_df.head(3)

In [ ]:
cat_pesti_df = cat_pesti_df.rename(columns={"cat_label": "pesti_cat_label"})
cat_pesti_df.head(3)

In [ ]:
merged_all = pd.merge(by_sites_df, group_hm_df, on=["Site"])
merged_all = pd.merge(merged_all, cat_hm_df, on=["Site"])
merged_all = pd.merge(merged_all, group_pesti_df, on=["Site"])
merged_all = pd.merge(merged_all, cat_pesti_df, on=["Site"])

In [ ]:
merged_all.shape

### Final Cleaning

##### HM

In [ ]:
merged_hm = merged_hm.drop(['Site'], axis=1)

In [ ]:
merged_pesti.sample(5)

In [ ]:
merged_hm.to_csv('merged_hm.csv')

##### Pesticides

In [ ]:
merged_pesti = merged_pesti.drop(['Site'], axis=1)

In [ ]:
merged_pesti.sample(5)

In [ ]:
merged_pesti.to_csv('merged_pesti.csv')

##### All

In [ ]:
merged_all = merged_all.drop(['Site'], axis=1)

In [ ]:
merged_all.sample(5)

In [ ]:
merged_all.to_csv('merged_all.csv')

# Questions to ask

- When NaN => information irrelevant or not analysed?
- Difference France/Belgium?
- Is the fact that an insecticide is unauthorized relevant? (=> not the same law in France/Belgium)
- Or do we have to show that even banned pesticides are still found?
- How do we treat other categorical pesticides?
- How to increase the number of datas?

### Bo-bo-bonus

- FR  :  36 beehives for 335 zones
- BE  :  27 beehives for 297 zones

Here the CLC zone are left separate, could group some to test