# Preprocessing

In [1]:
import pandas as pd
import numpy as np

In [2]:
from functions import *

### Import the datasets

In [3]:
# Open the raw datasets
# Heavy Metal
hm_df = pd.read_excel('data/AllHMFiles.xlsx', engine='openpyxl')

# Pesticides
pesticides_df = pd.read_excel('data/AllPesticidesFiles.xlsx', engine='openpyxl')
classe_pesticides_df = pd.read_excel('data/pesticides.xlsx', engine='openpyxl')

# Surfaces
surfaces_df = pd.read_excel('data/absSurfs.xlsx', engine='openpyxl')

# Distances
distances_df = pd.read_excel('data/distsOneSheet.xlsx', engine='openpyxl')

In [4]:
hm_df.head(5)

,REF....SUBSTANCE,PERIOD,Lead,Cadmium,Arsenic,Mercury,Copper,Chromium,Zinc,Chrome
0,B0017,2017/P1,0.081,0.81,0.0,0.0,5.5,0.032,40,NaN
1,B0019,2017/P1,0.062,0.36,0.0,0.0,8.5,0.029,33,NaN
2,B0021,2017/P1,0.150,0.61,0.0,0.0,7.0,0.038,37,NaN
3,B0023,2017/P1,0.067,0.35,0.0,0.0,6.9,0.031,37,NaN
4,B0037,2017/P1,0.120,0.07,0.0,0.0,5.6,0.052,35,NaN

In [5]:
pesticides_df.head(5)

,REF....SUBSTANCE,PERIOD,Aldrin,Benalaxyl,Chlorpropham,Cyanofenphos,Cypermethrin,Ethofumesate,Fludioxonil,Fluopyram,...,Nicosulfuron,Piperonylbutoxide,Prosulfuron,Simazine,Terbuthylazine,Dieldrin,Fenamidone,Trifluralin,Cycloate,Pentachloroanisol
0,B0017,2017/P1,0.0,0.0000,0.00,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,B0019,2017/P1,0.0,0.0188,0.00,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,B0021,2017/P1,0.0,0.0711,0.00,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,B0023,2017/P1,0.0,0.0294,0.00,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,B0037,2017/P1,0.0,0.0000,0.01,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
classe_pesticides_df.head(5)

,importName,name,statusEN,LMR,familyEN,typeEN
0,Aclonifen,aclonifen,authorized,0.05,diphenyl ether,herbicide
1,Aldrin,aldrin,prohibited,0.01,organochlorine,insecticide
2,Ametoctradin,ametoctradin,authorized,0.05,triazolopyrimidine,fungicide
3,Anthraquinone,anthraquinone,prohibited,0.02,polycyclic aromatic hydrocarbon,bird repellant
4,Azoxystrobin,azoxystrobin,authorized,0.05,strobilurin,fungicide

In [7]:
surfaces_df.head(5)

,Site,111,112,121,122,123,124,131,132,133,...,411,412,421,422,423,511,512,521,522,523
0,F0069,0.0,1.064122e+06,3.587087e+05,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
1,F0025,0.0,0.000000e+00,0.000000e+00,412752.692383,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
2,F0027,0.0,2.741746e+05,0.000000e+00,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
3,B0128,0.0,2.470089e+06,4.053755e+06,497496.251770,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
4,F0023,0.0,0.000000e+00,2.559254e+05,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,284728.392578,0,0,0.0

In [8]:
distances_df.head(5)

    Site     polyID  classCLC         dist
0  F0069   FR-88090       231  1183.022362
1  F0069  FR-131773       242   289.926324
2  F0069   FR-46167       211   221.344153
3  F0069   FR-11047       112  1038.383069
4  F0069  FR-195343       311   724.045683

### Heavy Metal

### Pesticides

Fungicide :

In [9]:
classe_pesticides_df[classe_pesticides_df['typeEN'] == 'fungicide'].head(5)

,importName,name,statusEN,LMR,familyEN,typeEN
2,Ametoctradin,ametoctradin,authorized,0.05,triazolopyrimidine,fungicide
4,Azoxystrobin,azoxystrobin,authorized,0.05,strobilurin,fungicide
5,Benalaxyl,benalaxyl,prohibited,0.05,phenylamides,fungicide
7,Benthiavalicarb.iso,benthiavalicarb-isopropyl,authorized,0.05,carbamate,fungicide
8,Benzovindiflupyr,benzovindiflupyr,authorized,0.05,amide,fungicide

In [10]:
fungicides = classe_pesticides_df[classe_pesticides_df['typeEN'] == 'fungicide'].importName.to_list()
fungicides

['Ametoctradin',
 'Azoxystrobin',
 'Benalaxyl',
 'Benthiavalicarb.iso',
 'Benzovindiflupyr',
 'Boscalid',
 'Bupirimate',
 'Captan',
 'Carbendazim',
 'Chlorothalonil',
 'Cyazofamid',
 'Cyflufenamid',
 'Cymoxanil',
 'Cyprodinil',
 'Difenoconazole',
 'Dimethomorph',
 'Dimoxystrobin',
 'Dodine',
 'Epoxiconazole',
 'Ethirimol',
 'Famoxadone',
 'Fenamidone',
 'Fenbuconazole',
 'Fenhexamid',
 'Fenpropidin',
 'Fenpropimorph',
 'Fluazinam',
 'Fludioxonil',
 'Fluopicolide',
 'Fluopyram',
 'Flutolanil',
 'Fluxapyroxad',
 'Hexaconazole',
 'Iprovalicarb',
 'Isofetamid',
 'Mandipropamid',
 'Metalaxyl',
 'Metconazole',
 'Metrafenone',
 'Penconazole',
 'Pencycuron',
 'Pentachloroanisol',
 'Prochloraz',
 'Propamocarb',
 'Propiconazole',
 'Prothioconazole_d',
 'Pyraclostrobin',
 'Pyrimethanil',
 'Quinoxyfen',
 'Spiroxamine',
 'Tetraconazole',
 'Thiabendazole',
 'Thiophanate.methyl',
 'Trifloxystrobin',
 'X2.phenylphenol',
 'Zoxamide']

Insecticide :

In [11]:
classe_pesticides_df[classe_pesticides_df['typeEN'] == 'insecticide'].head(5)

,importName,name,statusEN,LMR,familyEN,typeEN
1,Aldrin,aldrin,prohibited,0.01,organochlorine,insecticide
13,Chlorantraniliprole,chlorantraniliprole,authorized,0.05,anthranilic diamide,insecticide
17,Chlorpyrifos.methyl,chlorpyrifos-methyl,prohibited,0.05,organophosphate,insecticide
19,Coumaphos,coumaphos,prohibited,0.10,thiophosphate,insecticide
20,Cyanofenphos,cyanofenphos,not yet assessed,NaN,organophosphate,insecticide

In [12]:
insecticides = classe_pesticides_df[classe_pesticides_df['typeEN'] == 'insecticide'].importName.to_list()
insecticides

['Aldrin',
 'Chlorantraniliprole',
 'Chlorpyrifos.methyl',
 'Coumaphos',
 'Cyanofenphos',
 'Cyflumetofen',
 'Cypermethrin',
 'Deet',
 'Dieldrin',
 'Etofenprox',
 'Fenoxycarb',
 'Fenpropathrin',
 'Flonicamid',
 'Flucythrinate',
 'Flupyradifurone',
 'Imidacloprid',
 'Indoxacarb',
 'Methoxyfenozide',
 'Phosmet',
 'Piperonylbutoxide',
 'Pirimicarb',
 'Spinosad',
 'Spirotetramat',
 'Tau.fluvalinate',
 'Tebufenozide',
 'Tetradifon',
 'Thiacloprid']

Herbicide :

In [13]:
classe_pesticides_df[classe_pesticides_df['typeEN'] == 'herbicide'].head(5)

,importName,name,statusEN,LMR,familyEN,typeEN
0,Aclonifen,aclonifen,authorized,0.05,diphenyl ether,herbicide
6,Benfluralin,benfluralin,authorized,0.05,dinitroaniline,herbicide
15,Chlorotoluron,chlorotoluron,authorized,0.05,phenylurea,herbicide
16,Chlorpropham,chlorpropham,prohibited,0.05,carbamate,herbicide
18,Clethodim,clethodim,authorized,0.05,cyclohexanedione,herbicide

In [14]:
herbicides = classe_pesticides_df[classe_pesticides_df['typeEN'] == 'herbicide'].importName.to_list()
herbicides

['Aclonifen',
 'Benfluralin',
 'Chlorotoluron',
 'Chlorpropham',
 'Clethodim',
 'Cycloate',
 'Diflufenican',
 'Ethofumesate',
 'Fluazifop',
 'Flufenacet',
 'Metamitron',
 'Methabenzthiazuron',
 'Metobromuron',
 'Metolachlor',
 'Nicosulfuron',
 'Pendimethalin',
 'Phenmedipham',
 'Propanil',
 'Propyzamide',
 'Prosulfocarb',
 'Prosulfuron',
 'Simazine',
 'Terbuthylazine',
 'Tri.allate',
 'Trifluralin']

Others :

In [15]:
classe_pesticides_df[(classe_pesticides_df['typeEN'] != 'fungicide') & 
                     (classe_pesticides_df['typeEN'] != 'insecticide') & 
                     (classe_pesticides_df['typeEN'] != 'herbicide')]

,importName,name,statusEN,LMR,familyEN,typeEN
3,Anthraquinone,anthraquinone,prohibited,0.02,polycyclic aromatic hydrocarbon,bird repellant
34,Diphenylamine,diphenylamine,prohibited,0.05,amine,"growth regulator, fungicide and insecticide"
69,Methiocarb_total,methiocarb,prohibited,0.05,carbamate,"insecticide, molluscicide and bird repellent"
86,Propargite,propargite,prohibited,0.05,NaN,acaricide
100,Tebuconazole,tebuconazole,authorized,0.05,triazole,fungicide and growth regulator
112,X6.benzylaminopurine,benzyladenine,authorized,NaN,cytokinins,growth regulator
114,NaN,NaN,NaN,NaN,NaN,NaN

##### Choice to treat the others

Adding to the corresponding categories, stay in "other" ? What about the growth regulator ?

#### Add some columns

In [16]:
pesticides_df['qtt_fungicides'] = pesticides_df.apply(qtt_pesticides, args = fungicides, axis = 1)
pesticides_df['qtt_insecticides'] = pesticides_df.apply(qtt_pesticides, args = insecticides, axis = 1)
pesticides_df['qtt_herbicides'] = pesticides_df.apply(qtt_pesticides, args = herbicides, axis = 1)

In [17]:
pesticides_df['nb_fungicides'] = pesticides_df.apply(nb_pesticides, args = fungicides, axis = 1)
pesticides_df['nb_insecticides'] = pesticides_df.apply(nb_pesticides, args = insecticides, axis = 1)
pesticides_df['nb_herbicides'] = pesticides_df.apply(nb_pesticides, args = herbicides, axis = 1)

In [18]:
pesticides_df.head(10)

,REF....SUBSTANCE,PERIOD,Aldrin,Benalaxyl,Chlorpropham,Cyanofenphos,Cypermethrin,Ethofumesate,Fludioxonil,Fluopyram,...,Fenamidone,Trifluralin,Cycloate,Pentachloroanisol,qtt_fungicides,qtt_insecticides,qtt_herbicides,nb_fungicides,nb_insecticides,nb_herbicides
0,B0017,2017/P1,0.0,0.0000,0.00,0.0,0.00,0.0,0.00,0.0,...,NaN,NaN,NaN,NaN,0.0000,0.0000,0.00,0,0,0
1,B0019,2017/P1,0.0,0.0188,0.00,0.0,0.00,0.0,0.00,0.0,...,NaN,NaN,NaN,NaN,0.0188,0.0000,0.00,1,0,0
2,B0021,2017/P1,0.0,0.0711,0.00,0.0,0.00,0.0,0.00,0.0,...,NaN,NaN,NaN,NaN,0.0711,0.0000,0.00,1,0,0
3,B0023,2017/P1,0.0,0.0294,0.00,0.0,0.00,0.0,0.00,0.0,...,NaN,NaN,NaN,NaN,0.0294,0.0000,0.00,1,0,0
4,B0037,2017/P1,0.0,0.0000,0.01,0.0,0.00,0.0,0.00,0.0,...,NaN,NaN,NaN,NaN,0.0000,0.0000,0.01,0,0,1
5,B0039,2017/P1,0.0,0.0000,0.00,0.0,0.01,0.0,0.00,0.0,...,NaN,NaN,NaN,NaN,0.0000,0.0208,0.00,0,2,0
6,B0041,2017/P1,0.0,0.0000,0.00,0.0,0.00,0.0,0.00,0.0,...,NaN,NaN,NaN,NaN,0.0000,0.0000,0.00,0,0,0
7,B0043,2017/P1,0.0,0.0000,0.00,0.0,0.00,0.0,0.01,0.0,...,NaN,NaN,NaN,NaN,0.0100,0.0000,0.00,1,0,0
8,B0045,2017/P1,0.0,0.0000,0.00,0.0,0.00,0.0,0.00,0.0,...,NaN,NaN,NaN,NaN,0.0000,0.0000,0.00,0,0,0
9,B0059,2017/P1,0.0,0.0000,0.00,0.0,0.00,0.0,0.00,0.0,...,NaN,NaN,NaN,NaN,0.0145,0.0000,0.00,1,0,0

### Sites

In [19]:
distances_df.head(5)

    Site     polyID  classCLC         dist
0  F0069   FR-88090       231  1183.022362
1  F0069  FR-131773       242   289.926324
2  F0069   FR-46167       211   221.344153
3  F0069   FR-11047       112  1038.383069
4  F0069  FR-195343       311   724.045683

In [20]:
surfaces_df.head(5)

,Site,111,112,121,122,123,124,131,132,133,...,411,412,421,422,423,511,512,521,522,523
0,F0069,0.0,1.064122e+06,3.587087e+05,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
1,F0025,0.0,0.000000e+00,0.000000e+00,412752.692383,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
2,F0027,0.0,2.741746e+05,0.000000e+00,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
3,B0128,0.0,2.470089e+06,4.053755e+06,497496.251770,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,0.000000,0,0,0.0
4,F0023,0.0,0.000000e+00,2.559254e+05,0.000000,0.0,0.0,0.0,0,0.0,...,0,0.0,0,0,0.0,0.0,284728.392578,0,0,0.0

In [21]:
sites_df = distances_df

In [22]:
sites_df['surface'] = sites_df.apply(get_surface, axis = 1)

In [23]:
sites_df.head(5)

    Site     polyID  classCLC         dist       surface
0  F0069   FR-88090       231  1183.022362  8.899784e+05
1  F0069  FR-131773       242   289.926324  2.278667e+06
2  F0069   FR-46167       211   221.344153  2.031309e+06
3  F0069   FR-11047       112  1038.383069  1.064122e+06
4  F0069  FR-195343       311   724.045683  2.550014e+05

### Merging the dataset into one

### Changing the NA